<div class="wrapper row">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="header">
            <h1 class="header-title text-light">Seccion de ventas</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" routerLink="/ventas">Listado de ventas</li>
                    <li class="breadcrumb-item">Detalle de venta</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 form-group">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Datos de venta</h5>
                        <p class="text-muted">Codigo de venta: {{id}} - Fecha: {{fecha | date: 'dd/MM/y'}} - Hora: {{fecha | date: 'hh:mm a'}}</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="d-flex d-flex-row">
                                <h6 class="header-title col-lg-4">Vendedor</h6>
                                <h6 class="header-title col-lg-4">Correo vendedor</h6>
                                <h6 class="header-title col-lg-4">Tipo de usuario</h6>
                            </div>
                            <div class="d-flex d-flex-row">
                                <input type="text" class="col-lg-4 mr-2" readonly value="{{venta.idempleado.nombre}}">
                                <input type="text" class="col-lg-4 mr-2" readonly value="{{venta.idempleado.email}}">
                                <input type="text" class="col-lg-3 mr-2" readonly value="{{venta.idempleado.categoria}}">
                            </div>
                            <div class="d-flex d-flex-row mt-2">
                                <h6 class="header-title col-lg-4">Cliente</h6>
                                <h6 class="header-title col-lg-4">Correo cliente</h6>
                                <h6 class="header-title col-lg-4">DNI</h6>
                            </div>
                            <div class="d-flex d-flex-row">
                                <input type="text" class="col-lg-4 mr-2" readonly value="{{venta.idcliente.nombre}}">
                                <input type="text" class="col-lg-4 mr-2" readonly value="{{venta.idcliente.email}}">
                                <input type="text" class="col-lg-3 mr-2" readonly value="{{venta.idcliente.dni}}">
                            </div>
                        </form>  
                    </div>
                </div>
            </div>
            <div class="col-lg-12 form-group">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Detalles de venta</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th scope="col" class="text-center">Producto</th>
                                <th scope="col" class="text-center">Precio</th>
                                <th scope="col" class="text-center">Cantidad</th>
                                <th scope="col" class="text-center">Subtotal</th>
                            </thead>
                            <tbody>
                                <tr scope="row" *ngFor = "let item of detalleventa"> 
                                    <td class="text-center">{{item.idproducto.nombre}}</td>
                                    <td class="text-center">{{item.idproducto.precio | currency}}</td>
                                    <td class="text-center">{{item.cantidad}}</td>
                                    <td class="text-center">{{(item.idproducto.precio)*(item.cantidad) | currency}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-right"><b>Total pagado:</b></td>
                                    <td class="text-center"><b>{{venta.total | currency}}</b></td>
                                </tr>
                            </tbody>
                            <tfoot class="d-flex d-flex-row">
                                <button type="button" class="btn btn-danger mt-3" (click)="generatePDF()"><i class="fas fa-file-pdf"></i> Generar PDF </button>
                            </tfoot>
                        </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
