<div class="fondo">
<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card shadow-sm rounded" style="margin-top: 10px; padding-top: 10px; width: 25em;">
                <h4 class="container card-title" style="text-align: center;">Registro de empleados</h4>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="addEmpleado($event)">
                            <div class="form-group col s12">
                                
                                <h6 class="card-subtitle mb-2 text-muted">Nombre (*)</h6>
                                <input class="form-control" type="text" formControlName="nombre" placeholder="Ingresar nombre" [(ngModel)]="empleadoService.selectedEmpleado.nombre">
                                <small *ngIf="form.get('nombre').hasError('maxlength')" class="text-danger">El nombre es muy largo <br></small>
                                <small *ngIf="form.get('nombre').hasError('pattern')" class="text-danger">No se admiten caracteres numericos ni especiales</small>
                            </div>
                            <div class="form-group col s12">
                                <h6 class="card-subtitle mb-2 text-muted">Fecha de nacimiento</h6>
                                <input type="date" formControlName="fechanac" id="fecha" [(ngModel)]="empleadoService.selectedEmpleado.fechanac"
                                (change)="obtenerFecha()"><br>
                                <small *ngIf="!valido" class="text-danger">{{message}}</small>
                            </div>
                            <div class="form-group col s12">
                                <h6 class="card-subtitle mb-2 text-muted">Email (*)</h6>
                                <input class="form-control" type="email" formControlName="email" placeholder="Ingresar email" [(ngModel)]="empleadoService.selectedEmpleado.email" 
                                (keyup)="emailDuplicado()">
                                <small *ngIf="!valido" class="text-danger">{{emailduplicado}} <br></small>
                                <small *ngIf="form.get('email').hasError('email') && form.get('email').touched" class="text-danger">El email no es valido</small>
                            </div>
                            <div class="form-group col">
                                <h6 class="card-subtitle mb-2 text-muted">Contraseña (*)</h6>
                                <input class="form-control" type="password" (keyup)="confirmPass()" formControlName="pass" placeholder="Ingresar contraseña" [(ngModel)]="empleadoService.selectedEmpleado.pass">
                                <small *ngIf="form.get('pass').hasError('minlength') && form.get('pass').touched" class="text-danger">La contraseña debe ser minimo de 6 caracteres <br></small>
                                <input class="form-control" type="password" (keyup)="confirmPass()" formControlName="confirmpass" placeholder="Confirme contraseña" [(ngModel)]="empleadoService.selectedEmpleado.confirmpass">
                                <small *ngIf="!valido && form.get('confirmpass').touched" class="text-danger">{{passmessage}} <br></small>
                            </div>
                            <div class="form-group col s12">
                                <h6 class="card-subtitle mb-2 text-muted">Tipo de usuario (*)</h6>
                                <select formControlName="categoria" aria-placeholder="Seleccionar usuario" [(ngModel)]="empleadoService.selectedEmpleado.categoria">
                                    <option value="Gerente">Gerente</option>
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="Franquiciado">Franquiciado</option>
                                </select>
                            </div>
                            <div class="form-group col s12">
                                <h6 class="card-subtitle mb-2 text-muted">Genero</h6>
                                <input type="radio" name="genero" formControlName="genero" value="masculino" checked [(ngModel)]="empleadoService.selectedEmpleado.genero"> Masculino<br>
                                <input type="radio" name="genero" formControlName="genero" value="femenino"> Femenino<br>
                                <input type="radio" name="genero" formControlName="genero" value="otro"> Otro
                            </div>

                            <div class="card-action">
                                <div class="col s12 text-center">
                                    <small class="text-muted">todos los campos son obligatorios <br><br></small>
                                    <button type="submit" [disabled]="form.invalid||!valido" class="btn btn-primary" style="margin-right: 10px;"><i class="far fa-save"></i> Guardar</button>
                                    <button type="button" class="btn btn-primary" (click)="resetForm()"><i class="fas fa-broom"></i> Limpiar</button>
                                </div>
                    
                                <input class="form-control" type="hidden" formControlName="_id" [(ngModel)]="empleadoService.selectedEmpleado._id">
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form-group">
                <input type="text" class="form-control" name="filterEmpleado" placeholder="Buscar por nombre" style="margin-top: 5px;" [(ngModel)]=filterEmpleado>
            </div>
            <div class="card shadow-sm container" style="margin-top: 10px;">
             <table class="table">
                <thead>
                    <th scope="col">Nombre</th>
                    <th scope="col">Posicion</th>
                    <th scope="col">Eliminar/Editar</th>
                </thead>
                <tbody>
                    <tr scope="row" *ngFor= "let empleado of empleadoService.Empleado | paginate: {itemsPerPage: 8, currentPage: p} | filtro:filterEmpleado">
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.categoria}}</td>
                        <td><button (click)="deleteEmpleado(empleado._id)" class="btn btn-primary mr-2"><i class="far fa-trash-alt"></i></button>
                            <button (click)="editEmpleado(empleado)" class="btn btn-primary"><i class="far fa-edit"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange) = "p = $event"></pagination-controls>
           </div>
         </div>
    </div>
</div>
</div>