<div class="wrapper row">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="header">
            <h1 class="header-title text-light">Seccion de ventas</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" routerLink="/ventas">Listado de ventas</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-sm container" style="margin-top: 10px;">
                    <div class="col-lg-12">
                        <div *ngIf="error" class="alert alert-danger alert-dismissible mt-2" role="alert">
                            <div class="alert-message">
                                {{error}}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" (click)="close_alert()"
                             aria-label="Close"><span aria-hidden="true">X</span></button>
                        </div>
                        <button class="btn btn-primary mb-2 mt-2 mr-2" routerLink="/ventas/registrar"><i class="fas fa-handshake"></i> Nueva venta</button>
                        <button type="button" class="btn btn-danger mb-2 mt-2" (click)="generatePDF()"><i class="fas fa-file-pdf"></i> Exportar ventas</button>
                        <input type="date" class="ml-2 mt-2 mb-2" name="fechainicio" [(ngModel)]="fechainicio">
                        <input type="date" class="ml-2 mt-2 mb-2" name="fechafinal" [(ngModel)]="fechafinal">
                        <button class="btn btn-primary mb-2 mt-2 ml-2" (click)="obtenerFechas()">Buscar por rango de fecha</button>
                    </div>
                 <table class="table">
                    <thead>
                        <th scope="col"><i class="fas fa-user"></i> Cliente</th>
                        <th scope="col"><i class="fas fa-calendar-week"></i> Fecha</th>
                        <th scope="col"><i class="fas fa-user-tie"></i> Vendedor</th>
                        <th scope="col">Total ($)</th>
                        <th scope="col">Opciones</th>
                    </thead>
                    <tbody>
                        <tr scope="row" *ngFor= "let venta of ventaslist | paginate: {itemsPerPage: 10, currentPage: p}">
                            <td>{{venta.idcliente.nombre}}</td>
                            <td>{{venta.fecha | date: 'MMM d, y, h:mm a'}}</td>
                            <td>{{venta.idempleado.nombre}} ({{venta.idempleado.categoria}})</td>
                            <td>$ {{venta.total}}</td>
                            <td><button class="btn btn-primary" routerLink="/ventas/{{venta._id}}"><i class="fas fa-info-circle"></i> Detalle de venta</button></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange) = "p = $event"></pagination-controls>
               </div>
             </div>
        </div>
    </div>
</div>
