@import '~swiper/swiper-bundle';
/* Estilo de fondo de la APP */
body
{
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, 0.50) 100%), url("./assets/image-asset.jpeg") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}